
* {
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	background-color: #fafafa grey lighten-5;
	position: relative;
}

nav {
	background-color: rgba(0,0,0, .4);
}

header {
	background-image: url("../images/Header 960.png");
    background-position: center;
    background-size: cover;
    height: 90%;

}

.parallax-container {
	height: 60%;
}



/* SECOND SECTION - CAROUSEL */

.center-align {
	margin-top: 10%;
	margin-bottom: 10%;
}
	
.carousel .carousel-item {
    width: 400px;
}
.carousel {
	width: 102%;
}

h5 {
   margin-top: 5%;
   text-align: center;
}

/* THIRD SECTION - PARALLAX*/

 .sec-4 {
 	border: 2px solid black;
 	background-image: url("../images/TransM2.png");
 	background-size: cover;
	background-position: center;
	height: 100%
 }         
.mount-img {
	width: 350px;
	height: auto;
}
article {
	border: 1px solid black;
	margin-right: 20px;
}
.paral-img {
	opacity: 0.8;
}
h3 {
	text-align: center;
	letter-spacing: 1%;
	color: black;
}
.paragraph {
	padding: 2%;
	color: black;
	text-align: justify;
}
.one-half {
	width: 44%;
	float: left;
	margin: 5% 0 3% 5%;
	text-align: center;
}
#banner-wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

/* -- FOUFTH SECTION --  */

.left-colum {
	width: 50%;
	float: left;
	margin-left: 2%;
	margin-bottom: 3%;
	text-align: justify;
}

.sidebar {
	width: 30%;
	float: right;
	margin-right: 14%;
	margin-top: 4%;
	margin-bottom: 4%;
}

.sidebar img {
	opacity: 0.9;
}

.kilimanjaro-pic {
	max-width: 140%;
}
.sec-5 {
	height: 50%;
}
.text {
	padding: 10px; 
}

.border-1 {
	border: 1px solid white;
	min-width: 400px;
	max-width: 600px;
	margin: 40px;	
}

.border-2 {
	border: 1px solid white;
	min-width: 400px;
	max-width: 600px;
	margin: 40px;
	
}

/* Section 5 */

.img {
	width: 100%;
	height: auto;
}
.one-third {
	width: 28%;
	float: left;
	margin: 2% 0 3% 4%;
	text-align: center;
}
h2 {
	padding-top: 0;
	text-align: center;
}


 /* FOOTER SIXS SECTION */

.footer-img {
	
	background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    
}


/* PARALLAX */


.container {
    width: 100%;

}

.parallax-container {
	height: 60%;
	width: 100%;
}

/* MEDIA QUERIES*/
@media screen and (max-width: 768px) {
	.nav-wrappper {
		width: 100%;
	}
	header {
		height: 60%;
		width: 102%;
	}
	.parallax-container {
		height: 50%;
		width: 102%;
	}
	#small {
		font-size: 0.6em;
		letter-spacing: -200;
		left: 2px;
		top: 4%;
	}
	.carousel .carousel-item {
		width: 280px;
	}
	
	.one-third {
		width: 100%;
		margin:  4% 0;
	}
	.one-half {
		display: none;
	}
	
	img {
		width: 102%;
		
	}
	h4 {
		padding-top: 3%;
	}
	.left-colum {
		width: 100%;
		margin-bottom: 3%;
	}
	.sidebar {
		width: 102%;
		margin: 0;
	}
	.kilimanjaro-pic {
		width: 102%;
		margin-bottom: 3%;
	}

}


/* --- creating Flying Headline---*/
.fly-in-text {
 	list-style: none;
 	position: absolute;
 	margin-left: 10%;
 	top: 6%;
 	transform: translatexX(-50%) translateY(-50%);
 	letter-spacing: -25;
 	font-size: 30px;
 	text-shadow: 4px 4px 4px #000000;
 }
 .fly-in-text li {
 	display: inline-block;
 	color: #fff;
 	margin-right: 50px;
 	font-family: 'Lobster', cursive; 
 	font-weight: 500;
 	font-size: 2.5em;
 	opacity: 1;
 	transition:all 2.5s ease;
 }
 .fly-in-text li:last-child {
 	margin-right: 0;
 }
 .fly-in-text.hidden li {
     opacity: 0; 
 }

 .fly-in-text.hidden li:nth-child(1) {
  transform: translateX(-150px) translateY(-200px);
}
.fly-in-text.hidden li:nth-child(2) {
  transform: translateX(20px) translateY(100px);
}
.fly-in-text.hidden li:nth-child(3) {
  transform: translateX(-150px) translateY(-80px);
}
.fly-in-text.hidden li:nth-child(4) {
  transform: translateX(10px) translateY(-200px);
}
.fly-in-text.hidden li:nth-child(5) {
  transform: translateX(-300px) translateY(200px);
}
.fly-in-text.hidden li:nth-child(6) {
  transform: translateX(20px) translateY(20px);
}
.fly-in-text.hidden li:nth-child(7) {
  transform: translateX(30px) translateY(200px);
}
.fly-in-text.hidden li:nth-child(8) {
  transform: translateX(20px) translateY(20px);
}
.fly-in-text.hidden li:nth-child(9) {
  transform: translateX(30px) translateY(200px);
}

.fly-in-text.hidden li:nth-child(10) {
  transform: translateX(50px) translateY(220px);

}
.fly-in-text.hidden li:nth-child(11) {
  transform: translateX(40px) translateY(210px);

}
.fly-in-text.hidden li:nth-child(12) {
  transform: translateX(10px) translateY(200px);

}
.fly-in-text.hidden li:nth-child(13) {
  transform: translateX(20px) translateY(20px);

}
.fly-in-text.hidden li:nth-child(14) {
  transform: translateX(30px) translateY(200px);

}
.fly-in-text.hidden li:nth-child(15) {
  transform: translateX(-150px) translateY(-200px);

}
.fly-in-text.hidden li:nth-child(16) {
  transform: translateX(50px) translateY(-100px);

}
.fly-in-text.hidden li:nth-child(17) {
  transform: translateX(10px) translateY(-200px);
}
.fly-in-text.hidden li:nth-child(18) {
  transform: translateX(300px) translateY(10px);










/* MOUNTAIN PAGE

.img-slovenia {
    background-image: url("../images/SloveniaM.png");
    background-position: center;
    background-size: cover;
    filter:grayscale(90%);
    opacity: 0.7;
 	width: 90%;
	height: 100%;
	margin-left: 30px;
	
}


.all-items {
	margin-top: 170px;
	border: 1px dashed white;
	width: 15%;
	float: left;
}

ul {
	list-style-type: none;

}

li {
	border:1px solid white;
	width: 80px;
	height: 35px;
	margin-left: 25px;
	margin-top: 50px;
	text-align: center;
	padding-top: 5px;
	color: white;
	background-color: black;

}

.main-section {
	border: 1px solid white;
	width: 350px;
	height: 300px;
	float: right;
	margin-top: 150px;
	margin-right: 200px;

	*/