


body {
	background-color: #fafafa grey lighten-5;
	position: relative;
}

/* HEADER NAVBAR*/

nav {
	background-color: rgba(0,0,0, .4);
	width: 100%;
}
header {
	background-image: url("../images/Head.png");
    background-position: center;
    background-size: cover;
    height: 100%;
}
section {
	width: 100%;
}
.brand-logo {
	margin-left: 3%;
}
#nav-mobile {
	margin-right: 3%;
}
.navbar-fixed {
	position: fixed;
}


/* SECOND SECTION - SLIDER/CAROUSEL */
.quote{
	text-align: center;
    width: 50%;
    margin-left: 24%;
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 20px;
}
.quote-name {
	margin-left: 65%;
    margin-bottom: 3%;
}
.gallery-text {
	text-align: center;
	margin-top: 4%;
    margin-bottom: 5%;
}

.center-align {
	margin-top: 10%;
	margin-bottom: 10%;
}
	
/*.carousel .carousel-item {
    width: 400px;
}
.carousel {
	width: 102%;
} */

/* THIRD/ADVENTURE SECTION - PARALLAX*/

.parallax-container {
	height: 60%;
	opacity: ;
	width: 100%;
}
.container {
    width: 100%;
}
.paral-img {
	opacity: 0.9;
	width: 100%;
	background-size: cover;
	background-position: center;
}
h3 {
	text-align: center;
	letter-spacing: 1%;
	color: black;
}
.paragraph {
	padding: 2%;
	color: black;
	text-align: justify;
}
.one-half {
	width: 44%;
	float: left;
	margin: 5% 0 3% 5%;
	text-align: center;
}
#banner-wrapper {
	max-width: 1280px;
	margin: 0 auto;
}
.left-colum {
	width: 50%;
	float: left;
	margin-left: 4%;
	margin-bottom: 3%;
	text-align: justify;
	margin-top: 4%;
}
.sidebar {
	width: 37%;
	float: right;
	margin-right: 4%;
	margin-top: 4%;
	margin-bottom: 4%;
}
.sidebar img {
	opacity: 0.9;
}
.text {
	padding: 10px; 
}

.adventure-name {
	font-size: 120px;
    margin-left: 109%;
    margin-top: 12%;

}

/* FOURTH SECTION / WILD LIFE */
h1 {
	text-align: center;
	color: yellow;
	text-shadow: 4px 4px 4px #000000;
}
#article-1{
	padding-top: 3%; 
	text-align: justify;
	width: 86%;
}
#article-2 {
	padding-right: 4%;
	padding-left: 14%;
	text-align: justify;
	width: 86%;
	margin-bottom: 5%;
}
.animal-img {
	width: 300px;
	height: auto;
}
.float-img {
    float: left;
    margin-right: 3%;
    margin-bottom: 2%;
    margin-top: 5%;
    margin-left: 14%;
}
.float-img2 {
   float:right;
   margin-left: 4%;
   margin-bottom: 3%;
   margin-right: 14%; 
   margin-top: 1%;
}
.wildlife-name {
	font-size: 120px;
    margin-right: 37%;
    margin-top: 11%;

}





/* WIFTH SECTION / HIGHLIGHTS*/

.img {
	width: 100%;
	height: auto;
	margin-top: 4%;
}
.one-third {
	width: 28%;
	float: left;
	margin: 2% 0 3% 4%;
	text-align: center;
}
h2 {
	padding-top: 0;
	text-align: center;
}

.highligts-name {
	font-size: 90px;
    margin-top: 10%;
}
}


 /* FOOTER  */

.footer-img {
	
	background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;    
}



/* MEDIA QUERIES*/

@media screen and (max-width: 420px) {
	body {
		width: 100%;
	}
	.nav-wrappper {
		width: 100%;
		
	}
	.navbar-fixed {
		width: 100%;
	}
	header {
		height: 60%;
		width: 100%;
	}
	.parallax-container {
		height: 50%;
		width: 112%;
	}
	#small {
		font-size: 0.6em;
		letter-spacing: -200;
		left: 2px;
		top: 4%;
	}
	.carousel .carousel-item {
		width: 280px;
	}
	
	.one-third {
		width: 100%;
		margin:  4% 0;
	}
	.one-half {
		display: none;
	}
	
	img {
		width: 100%;
		
	}
	h4 {
		padding-top: 3%;
	}
	.left-colum {
		width: 100%;
		margin-bottom: 3%;
	}
	.sidebar {
		width: 102%;
		margin: 0;
	}
	.kilimanjaro-pic {
		width: 102%;
		margin-bottom: 3%;
	}

}



/* --- creating Flying Headline---*/
.fly-in-text {
 	list-style: none;
 	position: absolute;
 	margin-left: 10%;
 	top: 6%;
 	transform: translatexX(-50%) translateY(-50%);
 	letter-spacing: -25;
 	font-size: 30px;
 	text-shadow: 4px 4px 4px #000000;
 }
 .fly-in-text li {
 	display: inline-block;
 	color: #fff;
 	margin-right: 50px;
 	font-family: 'Lobster', cursive; 
 	font-weight: 500;
 	font-size: 2.5em;
 	opacity: 1;
 	transition:all 2.5s ease;
 }
 .fly-in-text li:last-child {
 	margin-right: 0;
 }
 .fly-in-text.hidden li {
     opacity: 0; 
 }

 .fly-in-text.hidden li:nth-child(1) {
  transform: translateX(-150px) translateY(-200px);
}
.fly-in-text.hidden li:nth-child(2) {
  transform: translateX(20px) translateY(100px);
}
.fly-in-text.hidden li:nth-child(3) {
  transform: translateX(-150px) translateY(-80px);
}
.fly-in-text.hidden li:nth-child(4) {
  transform: translateX(10px) translateY(-200px);
}
.fly-in-text.hidden li:nth-child(5) {
  transform: translateX(-300px) translateY(200px);
}
.fly-in-text.hidden li:nth-child(6) {
  transform: translateX(20px) translateY(20px);
}
.fly-in-text.hidden li:nth-child(7) {
  transform: translateX(30px) translateY(200px);
}
.fly-in-text.hidden li:nth-child(8) {
  transform: translateX(20px) translateY(20px);
}
.fly-in-text.hidden li:nth-child(9) {
  transform: translateX(30px) translateY(200px);
}

.fly-in-text.hidden li:nth-child(10) {
  transform: translateX(50px) translateY(220px);

}
.fly-in-text.hidden li:nth-child(11) {
  transform: translateX(40px) translateY(210px);

}
.fly-in-text.hidden li:nth-child(12) {
  transform: translateX(10px) translateY(200px);

}
.fly-in-text.hidden li:nth-child(13) {
  transform: translateX(20px) translateY(20px);

}
.fly-in-text.hidden li:nth-child(14) {
  transform: translateX(30px) translateY(200px);

}
.fly-in-text.hidden li:nth-child(15) {
  transform: translateX(-150px) translateY(-200px);

}
.fly-in-text.hidden li:nth-child(16) {
  transform: translateX(50px) translateY(-100px);

}
.fly-in-text.hidden li:nth-child(17) {
  transform: translateX(10px) translateY(-200px);
}
.fly-in-text.hidden li:nth-child(18) {
  transform: translateX(300px) translateY(10px);










/* MOUNTAIN PAGE

.img-slovenia {
    background-image: url("../images/SloveniaM.png");
    background-position: center;
    background-size: cover;
    filter:grayscale(90%);
    opacity: 0.7;
 	width: 90%;
	height: 100%;
	margin-left: 30px;
	
}


.all-items {
	margin-top: 170px;
	border: 1px dashed white;
	width: 15%;
	float: left;
}

ul {
	list-style-type: none;

}

li {
	border:1px solid white;
	width: 80px;
	height: 35px;
	margin-left: 25px;
	margin-top: 50px;
	text-align: center;
	padding-top: 5px;
	color: white;
	background-color: black;

}

.main-section {
	border: 1px solid white;
	width: 350px;
	height: 300px;
	float: right;
	margin-top: 150px;
	margin-right: 200px;

	*/